<form [formGroup]="petForm" (ngSubmit)="onSubmit()">

    <input type="text" formControlName="name" placeholder="Nom"/>

    <select>
        <option *ngFor="let spec of species" [value]="spec">{{spec}}</option>
    </select>

    <input type="number" formControlName="price" placeholder="Prix"/>

    <input type="checkbox" formControlName="isAvailable"/>
    <label>Disponible</label>

    <input type="text" formControlName="imageURL" placeholder="URL de l'image"/>

    <button [disabled]="petForm.invalid">Créer mon animal</button>

</form>
